html {
  min-height: 100%;
  position: relative;
}

#top {
  color: black;
  font-weight: 900;
}

/*color variables*/
:root {
  --text-color: black;
  --border-color: gold;
  --box-shadow-color: #0028ff;
  --links-color: #0028ff;
  --h2-color: hsl(82, 83%, 43%);
  --a1-border: hsl(82, 83%, 43%);
  --h1-shadow-color: #e30b5d;
  --links-hover-color: #ffb742;
  --linear-bg-1: white;
  --linear-bg-2: white;
  --a5-color: lightblue;
}
/* peinture a gauche */
#paint {
  width: 30px;
  background-image: url("../images/image.jpg");
  height: 100%;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  transition: all 750ms;
}
#paint:hover {
  width: 174px;
}
/* body background */
body {
  background-image: linear-gradient(
    to left,
    var(--linear-bg-2),
    var(--linear-bg-1)
  );
}
.page_container {
  display: flex;
  flex-direction: column;
}
/* header */
#header {
  margin: 20px 0 0 50px;
  height: fit-content;
  background-color: white;
  z-index: +1;
}
.titlesup {
  color: gold;
  font-size: 25px;
  font-family: monospace;
}
/*container for section boxes */
#main {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1024px;
}

/*boxes*/
.article-card {
  width: 270px;
  padding: 20px;
  padding-bottom: 0px;
  margin: 20px;
  box-sizing: border-box;
  height: fit-content;
  height: -moz-fit-content;
  border: 12px solid var(--border-color);
  border-radius: 12px;
  transition: all 400ms;
  cursor: pointer;
  background-color: white;
}

.article-card:hover {
  box-shadow: 12px -12px var(--box-shadow-color);
  transform: scale(1.05);
  background-color: gold;
}

.article-1 {
  border: 12px solid var(--a1-border);
  width: fit-content;
  width: -moz-fit-content;
  min-width: 270px;
  max-width: 890px;
}
/* article 2 index */
.index-2 {
  width: fit-content;
  width: -moz-fit-content;
}
/* Couleur du mot source */
.source {
  font-family: monospace;
  font-size: large;
  background-color: #2800ff;
  color: white;
}
@media (max-width: 768px) {
  .article-1 {
    max-width: 270px;
  }
}

.article-6 {
  width: 580px;
  border: 12px solid var(--h1-shadow-color);
}
.article-5 {
  border: 12px solid var(--a5-color);
}
.article-7 {
  border: 12px solid var(--h2-color);
}

.article-3 {
  border: 12px solid var(--a5-color);
}
/* Pour mettre lezs bloc en place en vue desktop, le 6 est le bloc formations sur le CV */
@media (min-width: 948px) {
  .article-7,
  .article-8,
  .article-5 {
    position: relative;
    bottom: 120px;
  }
  .article-6 {
    position: relative;
    bottom: 128px;
  }
}

.article-card:hover {
  box-shadow: 12px -12px var(--box-shadow-color);
}
.article-7:hover {
  box-shadow: 12px -12px var(--h1-shadow-color);
}

ul {
  padding: 0.5em;
}
#js {
  background-color: crimson;
  color: white;
  font-style: italic;
}
#ecoute {
  background-color: green;
  color: white;
  font-style: italic;
}
/* profile pic*/
img {
  width: 100%;
  min-width: 140px;
  max-width: 200px;
}

#pic {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#pic img {
  max-width: 150px;
  border-radius: 20px;
  border: 2px solid var(--text-color);
}

/*titles*/
h1 {
  color: var(--text-color);
  width: 270px;
  font-size: 25px;
  font-family: monospace;
  margin: 0px 20px 20px 0px;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

h1 a {
  text-decoration: none;
  font-family: monospace;
  color: black;
  font-size: 25px;
}

h1:hover {
  box-shadow: inset 12px -12px var(--h1-shadow-color);
}

h2 {
  color: var(--h2-color);
  font-size: 1.6rem;
  text-align: center;
}

h3 {
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 10px;
  padding-right: 0px;
  font-weight: bolder;
  font-size: larger;
  background-color: transparent;
  color: var(--links-color);
}
h4 {
  color: var(--text-color);
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

p {
  text-indent: 21px;
}

em {
  font-style: italic;
  background-color: var(--h2-color);
  color: white;
  font-size: large;
}

body {
  margin: 0%;
  height: 100%;
}

* {
  color: var(--text-color);
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: var(--links-color);
  font-weight: bolder;
}

a:hover {
  background-color: var(--links-hover-color);
}

a:active {
  color: var(--linear-bg-2);
  background-color: var(--links-color);
}
/*footer*/
footer {
  display: none;
  padding: auto;
  box-sizing: border-box;
  margin: 0px;
  text-align: left;
  padding-left: 110px;
}

footer p {
  font-size: smaller;
}

footer a {
  font-size: medium;
}

/* listes ordonnées des boites jaunes homepage*/
ol li {
  line-height: 1.5rem;
  list-style-position: inside;
}

/* ceci concerne Jonas / JONAS*/
.chapter {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 2vw 4vw;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  margin: 2vw;
}

.flexchapters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.jonash2 {
  color: black;
  font-family: cursive;
  font-size: larger;
  font-weight: bold;
}
#section-jonas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p #img-caption {
  display: inline-block;
}

.flexchapters {
  display: flex;
  flex-direction: column;
}

/* Ceci concerne la page dd'accueil de Reservia */
.visit_link {
  display: inline-block;
}
.linksup {
  color: gold;
  text-decoration: none;
}
.reservialogo img {
  border: none;
  border-radius: none;
}
