// header webdeveloper
header {
  border-bottom: 4px solid $headerborder;
  box-shadow: 2px 2px $headershadow;
  margin: 0px 0px 0px 0px;
  background-color: $headerbg;
  & a {
    text-decoration: none;
    color: mistyrose;
  }
  & h1 {
    margin: 0px $mainleftmargin;
  }
}
.titlesup {
  color: $accent;
}
#gold {
  color: gold;
  font-size: 25px;
  font-family: monospace;
}
